
<div id="main">

	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
                 aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Menu 5</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header>
    	<div class="overflow"></div>
        <div class="container">
        	<div class="content-div">
            	<h1 class="margin-bottom-30">Operating Efficiently Solved</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="margin-top-50">
                	<a href="#" class="btn btn-warning">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    
    <section class="items">
        <div class="item-box">
        	<img src="images/item-box.png" width="210" class="img-responsive" />
        </div>
    	<div class="container">
        	<div class="enterprise">
            	<h1>Enterprise Insight <br> Find Out More</h1>
                <div class="form-group">
                	<form action="" method="post" enctype="multipart/form-data">
                    	<div class="form-div margin-top-50">
                        	<input type="text" placeholder="Email" />
                            <button type="submit" class="btn-warning">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section class="cards">
    	<div class="container">
        	<div class="col-sm-4">
            	<div class="item">
                	<div class="img-div"></div>
                    <h3 class="text-center">Item 1</h3>
                    <p class="text-center">
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="item">
                	<div class="img-div"></div>
                    <h3 class="text-center">Item 1</h3>
                    <p class="text-center">
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="item">
                	<div class="img-div"></div>
                    <h3 class="text-center">Item 1</h3>
                    <p class="text-center">
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        	<div class="clearfix"></div>
        </div>
    </section>
    
    <section class="content">
    	<div class="circles"></div>
        <div class="container">
        	<div class="col-sm-12">
            	<div class="col-sm-5">
                	<h2 class="text-center margin-bottom-20">Lorem ipsum dolor</h2>
                    <div class="img-section">
                    	<img src="images/img1.png" class="img-responsive" />
                    </div>
                </div>
            	<div class="col-sm-7">
                	<div class="details">
                        <h1 class="margin-bottom-30">Lorem ipsum dolor</h1>
                        <p class="margin-top-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al aliquiqp ex ea commodo consequat.
                        </p>
                        <br /><br />
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            	<div class="clearfix"></div>
            </div>
            <div class="col-sm-12">
            	<div class="col-sm-7">
                	<div class="details">
                        <h1 class="margin-bottom-30">Lorem ipsum dolor</h1>
                        <p class="margin-top-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al aliquiqp ex ea commodo consequat.
                        </p>
                        <br /><br />
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            	<div class="col-sm-5">
                	<h2 class="text-center margin-bottom-20">Lorem ipsum dolor</h2>
                    <div class="img-section">
                    	<img src="images/img2.png" class="img-responsive" />
                    </div>
                </div>
            	<div class="clearfix"></div>
            </div>
            <div class="col-sm-12">
            	<div class="col-sm-5">
                	<h2 class="text-center margin-bottom-20">Lorem ipsum dolor</h2>
                    <div class="img-section">
                    	<img src="images/img3.png" class="img-responsive" />
                    </div>
                </div>
            	<div class="col-sm-7">
                	<div class="details">
                        <h1 class="margin-bottom-30">Lorem ipsum dolor</h1>
                        <p class="margin-top-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al aliquiqp ex ea commodo consequat.
                        </p>
                        <br /><br />
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            	<div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    
    <section class="blog">
    	<div class="circles"></div>
        <div class="zig-zag">
        	<img src="images/zig-zag.png" width="119" class="img-responsive" />
        </div>
        <div class="zig-zag zig-zag1">
        	<img src="images/zig-zag.png" width="119" class="img-responsive" />
        </div>
        <div class="container">
        	<h1>Blog<a href="#" class="pull-right">Check More Our Article <i class="fa fa-long-arrow-right"></i></a></h1>
            <br /><br />
        	<div class="col-sm-12">
            	<div class="col-sm-8">
                	<div class="titles title1">
                    	<div class="overflow">
                    		<h2 class="margin-top-100">Tittle 1</h2>
                            <p class="margin-top-20">
                            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                                aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                        <a href="#" class="read-more">
                            <i class="fa fa-angle-right"></i>
                        	<span>Read More</span>
                        </a>
                    </div>
                </div>
            	<div class="col-sm-4">
                	<div class="titles title2">
                    	<div class="overflow">
                    		<h2 class="margin-top-200">Tittle 2</h2>
                        </div>
                    </div>
                </div>
            	<div class="clearfix"></div>
            </div>
            <div class="col-sm-12">
            	<div class="col-sm-6">
                	<div class="titles title3">
                    	<div class="overflow">
                    		<h2 class="margin-top-200">Tittle 3</h2>
                        </div>
                    </div>
                </div>
            	<div class="col-sm-6">
                	<div class="titles title4">
                    	<div class="overflow">
                    		<h2 class="margin-top-200">Tittle 4</h2>
                        </div>
                    </div>
                </div>
            	<div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <h4 class="text-center margin-top-30">
        	<a href="#">Check More Our Article <i class="fa fa-long-arrow-right"></i></a>
        </h4>
    </section>
    
    <footer>
    	<div class="container">
        	<div class="flex-box">
            	<a href="#">Benefits</a>
                <a href="#">How it works</a>
                <a href="#">About</a>
                <a href="#">Help Center</a>
                <a href="#">Contact</a>
                <a href="#">Blog</a>
                <a href="#">Press</a>
                <a href="#">Licenses</a>
                <a href="#">Policies &amp; Disclosures</a>
            </div>
            <hr>
            <div class="flex-box flex-box2">
            	<span>Copyrights &copy; 2019 By Brand</span>
            </div>
        </div>
    </footer>
    
</div>